<header>
  <div class="header">
    <nav class="header-nav">
      <a href="" class="header-link">
        <span class="header-logo">Dron</span>
        <ul class="header-lit">
          <li class="header-item">
            <a href="" class="header-page">Portfolio</a>
            <address class="address-box">
              <ul class="address-list">
                <li class="address-item">
                  <a href="" class="address-link"></a>hnj
                </li>
                <li class="address-item">
                  <a href="" class="address-link"></a>
                </li>
              </ul>
            </address>
          </li>
          <li class="header-item">
            <a href="" class="header-page"></a>
            <address class="address-box">
              <ul class="address-list">
                <li class="address-item">
                  <a href="" class="address-link"></a>
                </li>
                <li class="address-item">
                  <a href="" class="address-link"></a>
                </li>
              </ul>
            </address>
          </li>
          <li class="header-item">
            <a href="" class="header-page"></a>
            <address class="address-box">
              <ul class="address-list">
                <li class="address-item">
                  <a href="" class="address-link"></a>
                </li>
                <li class="address-item">
                  <a href="" class="address-link"></a>
                </li>
              </ul>
            </address>
          </li>
        </ul>
      </a>
    </nav>
  </div>
</header>
