* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* padding: 15px; */
  /* background-image: url(./images/12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:sticky; */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/**
      |============================
      | Header
      |============================
    */

header {
  animation-duration: 3000ms;
  animation-name: slidein;
}
@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
}

.header-container {
  position: fixed;
  /* position: relative; */
  z-index: 1;
  width: 100%;
  background-color: white;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid gray;
}

.drone-icon {
  margin-right: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo {
  margin-right: 20px;
}
.header-list {
  display: none;
}
.header-item {
  display: flex;
  border-radius: 5px;
  border: 1px solid black;
  transition: 350ms;
  padding: 4px;
}
.header-item:hover,
.header-item:focus {
  border: 1px solid black;
  transform: translateY(-5px);
  transition: 250ms;

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.address-box {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 15px;
  }
  .address-box {
    display: block;
  }
  .address-item {
    display: flex;
    align-items: center;
    padding-top: 6px;
    padding-right: 20px;
    transition: 350ms;
  }
  .address-item:focus,
  .address-item:hover {
    /* border: 1px solid black; */
    /* border-radius: 6px; */
    background-color: transparent;
    transform: translateY(-2px);
    transition: 250ms;
  }
  .address-icon {
    margin-right: 10px;
  }
}

.header-page.current {
  color: darkorange;
}

/**
  |============================
  | Video section
  |============================
*/

.video-container {
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
.projects-desc {
  color: #8491a0;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 20 10 8 10;
}
.projects-title {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8 10 15 10;
}


.local-video {
  width: 300px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
.video-box{
  display: inline-grid;
  grid-template-columns: 300px 300px;
  gap: 20px;

 
}
}
@media only screen and (min-width: 1440px) {
 .video-box{
  
  grid-template-columns: 300px 300px 300px;
  gap: 20px;

 
}
}

/**
  |============================
  | Footer
  |============================
*/
.footer-container {
  min-width: 320px;
  padding: 10px;
  background-color: aliceblue;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
}

.footer-list {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: center; */
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.footer-item {
  background-color: aliceblue;
}
.footer-item .footer-link-icon:hover {
}
.footer-icon {
}

.footer-icon:hover {
}

.footer-title {
  text-align: center;
  font-size: 12px;
}

.address-box-footer {
}
.address-list-footer {
}
.address-item-footer {
  padding-bottom: 12px;
}
.address-link-footer {
}

/**
  |============================
  | Mobile menu style
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
  background-color: #fff;
  z-index: 999;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container.is-open .menu-toggle {
  min-width: 24px;
  min-height: 24px;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;

  background: grey;

  border: 1px solid rgb(46, 47, 66, 0.1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/**
  |============================
  | Mobile link
  |============================
*/
.mobile-link-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 151px;
  margin-bottom: auto;
  gap: 40px;
}

.mobile-link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: blue;
}

.mobile-link {
  position: relative;

  display: block;
  padding: 24px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: blue;
}
.mobile-link.link {
  padding: 0;
}
.mobile-link-item .mobile-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
  color: blue;
}

.mobile-link.current {
  color: blue;
}

.mobile-link.current::after {
  background-color: blue;
}

/**
  |============================
  | Mobile contacts
  |============================
*/
.mobile-contacts-list {
  max-width: 353px;
}

.mobile-contact-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: black;
}
.mobile-contact-post {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: black;
}

.mobile-contact-item {
  margin-bottom: 40px;
}

.mobile-contact-item .mobile-contact-tel {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-item .mobile-contact-post {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-tel:hover,
.mobile-contact-tel:focus {
  color: blue;
}
.mobile-contact-post:hover,
.mobile-contact-post:focus {
  color: blue;
}

/**
  |============================
  | Mobile Icons
  |============================
*/
.mobile-icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
}

.icon-list-mobile {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-media-mobile {
  width: 40px;
  height: 40px;
}

.social-link-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  background: var(--color-iris);
  border-radius: 50%;
}
.icon-media-mobile .social-link-mobile {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-mobile:hover,
.social-link-mobile:focus {
  background-color: var(--color-ocean);
}
