* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  /* padding: 15px; */
  /* background-image: url(./images/12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position:sticky; */
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/**
      |============================
      | Header
      |============================
    */

.header-container {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid gray;
}

.drone-icon {
  margin-right: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
}
.header-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-logo {
  margin-right: 20px;
}
.header-list {
  display: none;
}
.header-item {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
}

.address-box {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
    gap: 15px;
  }
  .address-box {
    display: block;
  }
}

.header-page.current {
  color: darkorange;
}

/**
  |============================
  | Hero
  |============================
*/
header {
  animation-duration: 3000ms;
  animation-name: slidein;
}
.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 180px 0 20px 0;
  max-width: 428px;
}
@keyframes slidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
}
@media only screen and (max-width: 428px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/hero_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  .hero {
    max-width: 767px;
    padding: 340px 0 50px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/hero_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding: 400px 0 54px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/hero_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-container {
}
.hero-title {
  max-width: 290px;
  margin: 10px auto;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  /* text-transform: capitalize; */

  color: black;
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin: 12px auto;
    font-size: 20px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    margin: 15px auto;
  }
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 36px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;

  color: #fff;
  background: #4d5ae5;
}

/**
  |============================
  | Main container
  |============================
*/

.main-container {
  /* padding-top: 60px; */
}
.main-box {
  padding-bottom: 20px;
  /* padding-top: 50px; */
}
.img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
}

.main-img {
  border: 1px solid black;
  border-radius: 6px;
  width: 300px;
  /* height: 200px; */
}
@media only screen and (min-width: 768px) {
  .main-img {
    min-width: 350px;
    height: 250px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-img {
    width: 450px;
    height: 350px;
  }
  .img-box {
    gap: 18px;
  }
}

/**
  |============================
  | Mobile style
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/**
  |============================
  | Mobile close button
  |============================
*/

.menu-container .menu-toggle {
  transition-property: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: blue;
}

.menu-toggle.menu-icon {
  opacity: 1;
  fill: var(--color-navy-blue);
}
.menu-icon {
  opacity: 1;
  fill: var(--color-navy-blue);
}

.icon-menu {
  width: 100%;
  height: 100%;
  padding: 0;
}

/**
  |============================
  | Footer
  |============================
*/
.footer-container {
  min-width: 320px;
  padding: 10px;
  background-color: aliceblue;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px) {
}

.footer-list {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: center; */
  gap: 5px;
}
@media only screen and (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.footer-item {
  background-color: aliceblue;
}
.footer-item .footer-link-icon:hover {

}
.footer-icon {
 
}

.footer-icon:hover {
}

.footer-title {
  text-align: center;
  font-size: 12px;
}

.address-box-footer {
}
.address-list-footer {
}
.address-item-footer {
  padding-bottom: 12px;
}
.address-link-footer {
}
/**
  |============================
  | Mobile menu style
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
  background-color: #fff;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    13deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  z-index: 999;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.menu-container.is-open .menu-toggle {
  min-width: 24px;
  min-height: 24px;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;

  background: grey;

  border: 1px solid rgb(46, 47, 66, 0.1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

/**
  |============================
  | Mobile link
  |============================
*/
.mobile-link-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 151px;
  margin-bottom: auto;
  gap: 40px;
}

.mobile-link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: blue;
}

.mobile-link {
  position: relative;

  display: block;
  padding: 24px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: blue;
}
.mobile-link.link {
  padding: 0;
}
.mobile-link-item .mobile-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
  color: blue;
}

.mobile-link.current {
  color: blue;
}

.mobile-link.current::after {
  background-color: blue;
}

/**
  |============================
  | Mobile contacts
  |============================
*/
.mobile-contacts-list {
  max-width: 353px;
}

.mobile-contact-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: black;
}
.mobile-contact-post {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: black;
}

.mobile-contact-item {
  margin-bottom: 40px;
}

.mobile-contact-item .mobile-contact-tel {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-item .mobile-contact-post {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact-tel:hover,
.mobile-contact-tel:focus {
  color: blue;
}
.mobile-contact-post:hover,
.mobile-contact-post:focus {
  color: blue;
}

/**
  |============================
  | Mobile Icons
  |============================
*/
.mobile-icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
}

.icon-list-mobile {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.icon-media-mobile {
  width: 40px;
  height: 40px;
}

.social-link-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  width: 100%;
  height: 100%;

  background: var(--color-iris);
  border-radius: 50%;
}
.icon-media-mobile .social-link-mobile {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-mobile:hover,
.social-link-mobile:focus {
  background-color: var(--color-ocean);
}
